body{
    margin-right: 20%;
  margin-left: 20%;
}
.topnav{
    gap: 10%;
    display: flex;
    text-align: center;
    padding:50px;
}
.icons{
  display: flex;  
  flex-direction: row;
  gap: 20%;
}
.n{
  width: 10%;
  height: 10%;
}
.m{
  width: 10%;
  height: 10%;
}
.o{
  width: 5px;
  height: 10%;
}
.p{
  width: 10%;
  height: 10%;
}

.container1{
    display: flex;
    flex-direction: row;
    gap: 10%;
}

.container3{
  display: grid;
  grid-template-columns: auto;
}
.cont3{
  transform:rotate(+20deg)
  
}
.cont5{
  transform:rotate(+20deg)
}
.cont1{
  display: flex;
  flex-direction: row;
  gap: 10%;
}
.container4{
display: flex;
flex-direction: row;
gap: 10%;
}
.container5{
  display: flex;
  flex-direction: row;
  gap: 10%;
}
.footer{
display: flex;
flex-direction: row;
gap: 20%;
background-color: midnightblue;
color: white;
}
button{
  color:whitesmoke;
  background-color: fuchsia;
}
.cont6{
  display: flex;
  flex-direction: row;
  background-color: black;
  color: white;
  gap: 10%;
}
.select{
  display: flex;
  flex-direction: row;
  gap: 10%;
  
}



@media screen  and (min-width: 400px),(max-width:600px){
  .icons{
    display:flex;
    flex-wrap: wrap;
  }
  .container1{
    display: flex;
    flex-wrap: wrap;
  
}
.container3{
  display: flex;
  flex-wrap: wrap;
  gap: 20%;
}
.container4{
  display: flex;
  flex-wrap: wrap;
}
.container5{
  display: flex;
  flex-wrap: wrap;
}
}